*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(56, 63, 75);
}
body,.bombas{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bombas::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 30;
    opacity: 0;
    transform: scale(0);
    background-image: url('../img/nube-boom.png');
    filter: drop-shadow(5px 0px 5px rgba(34, 34, 34, 0.856));
    background-size:50%;
    background-position: center;
    background-repeat: no-repeat;
    animation: aparece 0.5s 36s forwards;
}
.bombas::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 30;
    opacity: 0;
    transform: scale(0);
    background-image: url('../img/wow-booom.png');
    filter: drop-shadow(5px 0px 5px rgba(34, 34, 34, 0.856));
    background-size:30%;
    background-position: center;
    background-repeat: no-repeat;
    animation: aparece 0.5s 36.1s forwards;
}


@keyframes aparece{
    to{
        opacity: 1;
        transform: scale(1);
    }
}
/* ----------------Willy Wonka--------------- */
/* .willy_wonka{
    width: 1100px;
    height: 820px;
    position: absolute;
    z-index: 40;
    background-image: url('../psd/willy-wonka.png');
    background-size:50%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transform: scale(0);
    animation: aparece 0.5s 36s forwards;
} */

.container{
    /* background-color: cornsilk; */
    width: 1100px;
    height: 820px;
    overflow: hidden;
    position: relative;
    opacity: 1;
    transform: scale(1);
    animation: desaparece 0.4s 36.1s forwards;
}

@keyframes desaparece{
    to{
        opacity: 0;
        transform: scale(0);
    }
}

.tellon_arriba{
    background-image: url('../img/telon.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.container::after{
    content: '';
    background: linear-gradient(0deg, rgba(47,52,83,1) 0%, rgba(0,0,0,1) 100%);
    width: 1100px;
    height: 620px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -20;
}

.container_escenario{
    width: 1100px;
    height: 620px;
    overflow: hidden;
    position: relative;
}

.img{
    width: 1100px;
    height:600px;
    position: absolute;
    filter: drop-shadow(5px 0px 5px rgba(34, 34, 34, 0.856));/* da una sombra a mitad de escenario */
}
.telon{
    height: 100%;
    background-size: 56%;
    background-repeat: no-repeat;
    top: 10px;
}

.cortina_izq{
    background-image: url('../img/cortina_izq.png');
    z-index: -1;
    left: -570px; /* left: 5px; !!!!!!!!!!!!!!!! */
    transform: translate(47%);
    animation: abrir 4s 1s forwards;
}
.cortina_drcha{
    /* background-color: cornsilk; */
    background-image: url('../img/cortina_drcha.png');
    z-index: -2;
    left: 1055px; /*  left: 540px;!!!!!!!!!!!!!!!! */
    transform: translate(-47%);
    animation: abrir 4s 1s forwards;
}

    @keyframes abrir{
        to{
            transform: translate(0%);
        }
    }

.escenario{
    background-size: 100%;
    background-repeat: no-repeat;
    top: 53px;
    filter: drop-shadow(5px 0px 15px rgba(5, 5, 5, 0.856));
}    
.suelo1{
    background-image: url('../img/escenario_suelo1.png');
    z-index: -3;
    animation: moverseX 1s infinite alternate linear;
    
}
.suelo2{
    background-image: url('../img/escenario_suelo2.png');
    z-index: -5;
    top: 35px;
    transform: translateY(47%);
    animation: aparecer_de_abajo 5s 4s forwards/* ,moverseX 1s 10s infinite alternate linear */;
}

.palitos_de_caramelo{
    /* background-color: burlywood; */
    background-image: url('../img/palitos-de_caramelo2.png');
    z-index: -4;
    transform: translateY(100%);
    animation: aparecer_de_abajo 7s 12s forwards/* , saltos 1s 14.5s infinite ease */;
}

@keyframes saltos{
    from{
        transform: translateY(8%);
    }
    to{
        transform: translateY(0%);
    }
}

.medio{
    background-image: url('../img/torre_circulos_rosas.png');
    z-index: -6;
}

    @keyframes aparecer_de_abajo{
        to{
            transform: translateY(0%);
        }
    }

    @keyframes moverseX {
        from{
            transform: translateX(-2%);
        }
        to{
            transform: translateX(2%);
        }
    }
/* ----------------ENGRANAJES GRANDES----------------------------- */
.circulo_drcha{
    background-image: url('../img/escenario_front_circulo_drcha.png');
    z-index: -4;
    left: 400px;
    transform: translate(-37%);
    animation: abrir 8s 1.5s forwards;
} 
.circulo_izq{
    background-image: url('../img/escenario_front_circulo_izq.png');
    z-index: -4;
    right: 400px;
    transform: translate(37%);
    animation: abrir 8s 1.5s forwards;
} 
/* .medio{
    background-image: url('../img/escenario_medio_palos.png');
    z-index: -5;
} */

/* -----------------------CANDY VERDE------------------- */
.candy{
    width: 200px;
    height: 200px;
    background-size: 100%;
    background-repeat: no-repeat;
    top: 90px;
    z-index: -5;
   
}
.candy_izq{
    background-image: url('../psd/candy_verde.png');
    left: 200px;
    transform: rotate(0deg);
    animation: rotacion infinite 4s linear reverse;
}
.candy_drch{
    background-image: url('../psd/candy_verde.png');
    left: 680px;
    transform-origin: 50% 50%;
    transform: rotate(0deg);
    animation: rotacion infinite 4s linear;
}
    @keyframes rotacion{
        to{
            transform: rotate(360deg);
        }
    }


/* ------------------FONDO------------------------------- */    
.fondo{
    background-image: url('../img/fondo_candies.png');
    opacity: 0.6;
    z-index: -15;
    transform: translateY(-40%);
    animation: aparecer_de_abajo 7s 16.5s forwards;
} 

/* -------------------PODIUM------------------------- */
.container-podium{
   width: 250px;
   height: 100px;
   border-radius: 10px;
   overflow: hidden;
   position: absolute;
   z-index: -6;
   filter: drop-shadow(50px 80px 25px rgba(5, 5, 5, 0.856));
   animation: podium 4s 8s forwards;
}

.cont_pod_izq{
    left:100px ;
    top: 1080px;/* 480px */
}
.podium{
    width: 2904px;
    height: 100px;
}
.podium_izq{
    background-image:url('../img/ondas_azul.png');  
    transform: translateY(130%);
    animation: slide 10s linear infinite;
}
.container-podium::after{
    content: '';
    background: linear-gradient(90deg, rgba(4, 4, 4, 0.692) 0%, rgba(255,255,255,0) 34%, rgba(241,241,241,0) 70%, rgba(4, 4, 4, 0.623) 100%);
    width: 300px;
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.cont_pod_drch{
    left:750px ;
    top: 1080px;/* 480px */
}

.podium_drch{
    background-image:url('../img/ondas_rosa.png');
    transform: translateY(200%);
    animation: slide 10s linear infinite reverse;
}

@keyframes podium{
    0%{
        top: 680px;
    }
    100%{
        top: 460px;
    }
}

@keyframes slide{
    0%{
      transform: translate3d(0, 0, 0);
    }
    100%{
      transform: translate3d(-968px, 0, 0); /* The image width */
    }
  }
  .container-podium-peq{
    width: 150px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    z-index: -6;
    filter: drop-shadow(5px 0px 5px rgba(34, 34, 34, 0.856));
    animation: podium_peq 4s 10s forwards;
    z-index: -7;
    filter: drop-shadow(-50px 50px 25px rgba(5, 5, 5, 0.856));
 }
 .container-podium-peq::after{
    content: '';
    background: linear-gradient(90deg, rgba(4, 4, 4, 0.692) 0%, rgba(255,255,255,0) 34%, rgba(241,241,241,0) 70%, rgba(4, 4, 4, 0.623) 100%);
    width: 150px;
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.cont_pod_izq_peq{
    left: 150px;
    top: -200px;
}
.podium_peq{
    width: 2904px;
    height: 100px;
}
.podium_izq_peq{
    background-image: url('../img/ondas_rosa.png');
    transform: translateY(200%);
    animation: slide 10s linear infinite reverse;
}
.cont_pod_drch_peq{
    left: 800px;
    top: -200px;
}
.podium_drch_peq{
    background-image: url('../img/ondas_azul.png');
    transform: translateY(200%);
    animation: slide 10s linear infinite;
}



@keyframes podium_peq{
    0%{
        top: 680px;
    }
    100%{
        top: 370px;
    }
}






/* ---------------------PALO-------------------------- */
  .container-palo{
    width: 25px;
    height: 620px;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    z-index: -5;
    filter: drop-shadow(5px 0px 5px rgba(34, 34, 34, 0.856)); 
  }
  .cont_palo_izq{
    left: 80px;
  }
  .palo_izq, .palo_drch{
    background-image:url('../img/rayas.png');
    background-size: 20%;
    width: 1800px;
    height: 100%;
    transform: translateY(200%);
    animation: slide 12s linear infinite reverse; 
  }
  .container-palo::after{
    content: '';
    /* background:linear-gradient(90deg, rgba(0, 0, 0, 0.863) 0%, rgba(10, 8, 117, 0.212) 34%, rgba(241,241,241,0.4458158263305322) 78%, rgba(2, 2, 2, 0.596) 100%); *//* ????????????????????????????????????????? */
    background: linear-gradient(90deg, rgba(4, 4, 4, 0.815) 0%, rgba(255,255,255,0) 34%, rgba(241,241,241,0) 70%, rgba(4, 4, 4, 0.815) 100%);
    width: 25px;
    height: 620px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.cont_palo_drch{
    left: 980px;
}

/* .nena{
    background-image: url('../img/nena.png');
    width: 200px;
} */
.silla{
    top: 60px;
    background-image: url('../img/silla.png');
    z-index: -10;
    transform: translateY(97%);
    animation: aparecer_de_abajo 10s 23s forwards ease-in-out;
    filter: drop-shadow(5px 80px 25px rgba(5, 5, 5, 0.9));
}